 <DOCTYPE !DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
     <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">



</head>
<body>
        <div id="label">
            Eat da Burger
        </div>
       
        <div id="slide1"></div>
    
        <img src="/assets/images/arrowdown.png" alt="Italian Trulli" class= "arrow animated infinite bounce faster"  id="arrowOne">
        <img src="/assets/images/arrowdown.png" alt="Italian Trulli"  class= "arrow animated infinite bounce faster" id="arrow">
        <img src="/assets/images/arrowdown.png" alt="Italian Trulli" class= "animated infinite bounce faster" id="arrow">


            
                {{{body}}}
    
        
            
    
  
                
</body>
</html>