<li>
    
    {{burgerName}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{sleep}}">
		{{#if sleep}}LOVE MY BURGER{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR MY BURGER!</button>
</li>
